<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/JulieKovalaske">Julie</a> An instructional designer who wants to help people learn and grow.
  </p>
  <br />
  <p>
    She has helped hundreds of managers improve skills to create a healthy, inclusive, and engaging work environment.
  </p>
  <p>
    If you want to learn more, go <a target="_blank" href=https://www.hr.wisc.edu/professional-development/programs/principles-of-supervision-and-management/"> here</a>
  </p>

  <div class="row"
    <div class="col-12 col-sm-4">
      <%= image_tag 'julie.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Julie Kovalaske</h2>
      <br />
      <p>
        Julie Kovalaske is an instructional designer and web developer. Julie supports managers and supervisors to create a great environment where employees want to work. In a previous life, Julie lived in Tanzania for 3 years with the Peace Corps supporting HIV and AIDS education and destigmatization.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />